In [11]:
import numpy as np
import pandas as pd

df = pd.read_csv('cleaned_data.csv')
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,175496,Lightning Charging Cable,1,14.95,04/11/19 09:11,"509 Jefferson St, Dallas, TX 75001"
1,175497,AA Batteries (4-pack),1,3.84,04/08/19 17:46,"941 Church St, Atlanta, GA 30301"
2,175498,AA Batteries (4-pack),1,3.84,04/23/19 23:44,"770 6th St, Atlanta, GA 30301"
3,175499,USB-C Charging Cable,1,11.95,04/22/19 22:50,"572 North St, Dallas, TX 75001"
4,175500,AA Batteries (4-pack),1,3.84,04/13/19 06:34,"361 14th St, San Francisco, CA 94016"

### Check data types.

In [12]:
print(df.dtypes)
# pd.to_numeric(df['Quantity Ordered'], downcast='unsigned')
df.dtypes

Order ID              int64
Product              object
Quantity Ordered      int64
Price Each          float64
Order Date           object
Purchase Address     object
dtype: object

Order ID              int64
Product              object
Quantity Ordered      int64
Price Each          float64
Order Date           object
Purchase Address     object
dtype: object

### Get month

In [13]:
import calendar
df['month'] = df['Order Date'].apply(lambda x: calendar.month_abbr[int(x[0:2])])
df['month']

0         Apr
1         Apr
2         Apr
3         Apr
4         Apr
         ...
158177    Sep
158178    Sep
158179    Sep
158180    Sep
158181    Sep
Name: month, Length: 158182, dtype: object

### Get city.

In [14]:
df['City'] = df['Purchase Address'].apply(lambda x: x.split(', ')[1])
df['City']

0                Dallas
1               Atlanta
2               Atlanta
3                Dallas
4         San Francisco
              ...
158177    New York City
158178      Los Angeles
158179    New York City
158180    New York City
158181    New York City
Name: City, Length: 158182, dtype: object

In [15]:
df['Total Price'] = df['Price Each'] * df['Quantity Ordered']
df['Total Price']

0         14.95
1          3.84
2          3.84
3         11.95
4          3.84
          ...
158177    14.95
158178    11.99
158179    14.95
158180    11.99
158181     2.99
Name: Total Price, Length: 158182, dtype: float64

In [16]:
df.to_csv('wrangleddata.csv', index = False)