### Hello this is my analysis
* What was the best month for sales? How much was earned that month?
* What city sold the most product?
* What time should we display advertisemens to maximize the likelihood of customerâ€™s buying product?
* What products are most often sold together?
* What product sold the most? Why do you think it sold the most?

#### Concatenate all data in one file.

In [6]:
import numpy as np
import pandas as pd
import os
files = [file for file in os.listdir('./myoutput') if file.endswith('.csv')]

all_table = []
for file_name in files:
    table = pd.read_csv(f'./myoutput/{file_name}')
    all_table.append(table)
df = pd.concat(all_table, ignore_index=True)
del files, file_name, all_table, table
# df.to_csv('mydata.csv', index=False)
# df.tail()
df = df[df['Order ID']]
df.

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
159139,223909,Lightning Charging Cable,1,14.95,07/05/19 22:13,"760 West St, Seattle, WA 98101"
159140,223910,AA Batteries (4-pack),1,3.84,07/28/19 10:51,"526 8th St, Dallas, TX 75001"
159141,223911,Apple Airpods Headphones,1,150,07/22/19 19:08,"904 11th St, Los Angeles, CA 90001"
159142,223912,Apple Airpods Headphones,1,150,07/20/19 15:48,"451 2nd St, San Francisco, CA 94016"
159143,223913,Bose SoundSport Headphones,1,99.99,07/16/19 12:48,"443 Forest St, Boston, MA 02215"

#### Find NaN value in dataframe.

In [36]:
df2 = pd.read_csv('mydata.csv')
print(df.isnull().values.any())
df2.dropna(inplace=True)
print(df.isnull().values.any())
df2.tail()

True
True

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
159139,223909,Lightning Charging Cable,1,14.95,07/05/19 22:13,"760 West St, Seattle, WA 98101"
159140,223910,AA Batteries (4-pack),1,3.84,07/28/19 10:51,"526 8th St, Dallas, TX 75001"
159141,223911,Apple Airpods Headphones,1,150,07/22/19 19:08,"904 11th St, Los Angeles, CA 90001"
159142,223912,Apple Airpods Headphones,1,150,07/20/19 15:48,"451 2nd St, San Francisco, CA 94016"
159143,223913,Bose SoundSport Headphones,1,99.99,07/16/19 12:48,"443 Forest St, Boston, MA 02215"

In [34]:
df['Quantity Ordered']

0         1
1         1
2         1
3         1
4         1
         ..
159139    1
159140    1
159141    1
159142    1
159143    1
Name: Quantity Ordered, Length: 159144, dtype: object